<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766076227651-hqng1h2ddoqb5aamnppgrvmo03m3hset.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766076227651-hqng1h2ddoqb5aamnppgrvmo03m3hset</string>
	<key>API_KEY</key>
	<string>AIzaSyC670dsctpdYl9tiGiTVSRAu-a6KtLL8DY</string>
	<key>GCM_SENDER_ID</key>
	<string>766076227651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-93954</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-93954.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766076227651:ios:7725412b097c3c754344f6</string>
</dict>
</plist>